/* destyle 開始 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* destyle 終了 */

/* 基本設定 開始 */
:root {
  --main-color: #fef4d9;
  --sub-color: #FFC000;
  --accent-color: ;
}

body { 
  margin: 0px;
  padding: 0px;
  background-color: var(--main-color);
  color: #444444;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 2;
  padding-top: 20px;
}

.smBr{
  display: none;
}

/*.sm-br{
  display: none;
}*/
/* 基本設定 終了*/

/*見出し 開始*/
h2{
  text-align: center;
}
/*見出し 終了*/

/* ヘッダー 開始*/
header{
  height:120px;
  width:100%;
  padding:0 15px;
  background-color: var(--sub-color);
  top: 0;
  z-index: 10;
  display: flex;
}

nav{
  margin: 0 0 0 auto;
}

.pc ul{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.pc a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  text-align: center;
}

.sm{
  display: none;
}

/* ヘッダー 終了*/

/* コンテンツ 開始*/
h1{
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
}

.contents {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 30px auto 30px auto;
  padding:30px;
  border-radius: 30px;
}

.mainText {
  width:90%;
  margin: 15px auto 0px auto;
}

.main-inner{
  width: 80%;
}

.dot-line{
  width: 100%;
  border-bottom: 2px dotted black;
}

/* コンテンツ 終了*/

/* フッター 開始 */
#footer {
  position: relative;
  margin-top: 40px;
  color: #fff;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .primary {
  padding: 20px 20px;
  background: var(--sub-color);
}

#footer .secondary {
  /*display: flex;*/
  padding: 10px 20px;
  background: var(--sub-color);
  text-align: center;
}

#primary{
  display: flex;
}

#footer img{
  height: 100px;
}

/* フッター 終了 */

/* レスポンシブデザイン 開始 */
/* タブレット用 */
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}

/* スマートフォン用 */
@media screen and (max-width: 640px) {
  /* 基本設定 */
  body {
    font-size: 15px;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  }

  .smBr{
    display: inline;
  }

  /*ヘッダー 開始*/
  header {
    height: 60px;
    position: fixed;
  }

  .logo{
    width:50%;
    display: block;
    margin-left: 3px;
    margin-right: auto;
  }

  .logo img{
    display: block;
    height: 55px;
    width: auto;
    margin: 3px 0px 3px 0px;
  }

	/* ハンバーガーメニュー */ 
  .pc{
    display: none;
  }

  #hamburger {
    background-color: transparent;  
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
    top: 60px;
    left: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: var(--sub-color);
    /*opacity: 0.9;*/
  }
  nav.sm{
    height: 100vh;
  }
  .sm ul {
    flex-direction: column;
  }

  .sm a {
    text-align: center;
    text-decoration: none;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }

  .sm a p{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #444444;
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 1px #444444;
  }

  /* 全体contents */
  .main>div{
    width:95%;
    margin-bottom: 15px;
  }

  .contents {
    border-radius: 15px;
  }

  .contents p{
    padding-top: 20px;
  }

  /*見出し 開始*/
  h1{
    font-size: 22px;
    font-weight: bold;
    margin-top:15px;
    margin-bottom:0px;
  }

  h2{
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 19px;
  }

  h4{
    font-size: 17px;
  }
  /*見出し 終了*/

  /*コンテンツ 開始*/
  .mainText {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  /*フッター 開始*/
  footer .logo img{
    display: block;
    margin: auto;
  }

  footer p{
    font-size: 10px;
  }

  #footer .primary {
    padding: 5px 20px;
  }
  
  #footer .secondary {
    padding: 5px 20px;
    text-align: center;
  }
  
  #footer .secondary p {
    padding-top: 0px;
  }

  #footer img{
    height: 55px;
  }
}